html,body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    background-color: #F2F2F2;
    font-family: Quicksand, 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    color: #222;
}

header {
    padding: 5px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    vertical-align: middle;
    background-color: #009688;
    color: #FAFAFA;
}

.ble-connect-button {
    position: absolute;
    top: 40px;
    right: 32px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.ble-connect-button:after {
    content: '+';
}

.ble-control {
    position: absolute;
    width: 30%;
    top: 0;
    right: 0;
}

.ble-status {
    color: #FAFAFA;
    font-size: 0.7em;
}

.ble-status.connected:before {
    content: "device connected";
}

.ble-status.disconnected:before {
    content: "device disconnected";
}
main {
    padding: 5px;
}

h1,h2,h3,h4,h5 {
    margin: 0;
}

h1 {
    font-size: 1.2em;
}

h2 {
    font-size: 1.1em;
}

button {
    margin: 0;
    padding: 5px;
    border-style: none;
    border-radius: 3px;
    color: #FAFAFA;
    background-color: #FF9800;
    box-shadow: 0 3px 6px #0002;
}

input {
    padding: 5px;
    border-style: none;
    box-shadow: 0 3px 6px #0002;
}

.qr-form {
    margin: 0 auto;
    width: 80%;
    max-width: 800px;
    height: 64px;
    display: grid;
    grid-template-rows: min-content 1fr;
    grid-template-columns: min-content 1fr min-content;
}

.qr-form input,button,textarea {
    height: 100%;
    padding: 5px;
    box-sizing: border-box;
}

.qr-label {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    white-space: nowrap;
}

.qr-text {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
}

.qr-send-button {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
}

.title {
    margin: 0 auto;
}
